<%= form_with(model: @movie, local: true) do|f|%>

<div class="form-group">
    <%= f.label 'Título:' %>
    <%= f.text_field :title, class: 'form-control'%>
</div>

<div class="form-group">
    <%= f.label 'Año:' %>
    <%= f.number_field :year, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.check_box :favorite %> 
    <%= f.label 'Agregar a películas favoritas' %> 
</div>

<%= f.submit 'Guardar' %>
<% end %>

<%= link_to "Regresar", movies_path %>